body {
   background-color: #fafafa;

   justify-content: center;
   align-content: center;
   width: 100%;
   align-items: center;
   height: 100vh;
}

.box {
   border: 1px solid #dfdfdf;
   background-color: #fff;
}

.g-btn {
   width: 100% !important;
   height: 40px !important;
   line-height: 40px !important;
   font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
   width: 40px !important;
   height: 38px !important;
}

.avenride-login {
   margin-left: 400px;
   margin-top: 200px;
}

.login-card {
   padding: 40px;
}

.riders {
   height: 100vh;
   width: 60vw;
   margin: auto;
}

.list-group-item {
   padding: 1rem 2rem;
}

.rider a {
   text-decoration: none;
}

.list-group li {
   list-style: none;
   margin-top: 5px;
   margin-bottom: 5px;
   border-radius: 4px;
}

.list-group li:hover {
   cursor: pointer;
   background-color: #f8f5f5;
   color: rgb(139, 139, 248);
}

#unverified {
   color: #fff;
   background-color: rgb(255, 80, 49);
   padding: 2px 4px;
   border-radius: 15px;
   font-size: 14px;
}

.card {
   width: 18rem;
   margin: 25px 0px 10px 10px;
}

.card-img-top {
   width: 150px;
   height: 150px;
   align-items: center;
}

.aproove {
   border-radius: 20px;
}

.container-main {
   background-color: rgb(245, 243, 243);
   display: flex;
   max-width: 60vw;
   align-items: center;
   margin-left: 150px;
}

.container1 {
   margin-right: 60px;
   margin-left: 50px;
   width: 20rem;
   height: 33rem;
}

.container2 .card {
   width: 20rem;
}

/* Mobile device */

@media (max-width: 767px) {
   .avenride-login {
      margin: 200px 0px 30px 30px;
   }
   .riders {
      width: 80vw;
   }
   .card {
      margin: 25px 0px 0px 0px;
   }
   .login-card {
      margin-top: 100px;
      padding: 80px 30px;
   }

   .list-group-item {
      padding: 1.5rem 1rem;
   }

   .rider p {
      margin-bottom: 0;
   }

   .container-main {
      background-color: #fafafa;
      display: flex;
      flex-direction: column;
      margin-right: 160px;
   }

   .container1 {
      width: 20rem;
      height: 33rem;
   }

   .container2 {
      margin-bottom: 40px;
   }
}
